<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySql Yoga Project</title>
    <link type="text/css" rel="stylesheet" href="/style/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <a href="/">Yoga Blog</a>
    <hr>
</header>
<main>
{{{body}}}
</main>
</body>
</html>